<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./css/mystyle.css" rel="stylesheet" />
    <title>Home Page</title>

    <style>
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            border: 1px solid #e7e7e7;
            background-color: #f3f3f3;
        }

        li {
            float: left;
        }

        li a {
            display: block;
            color: #666;
            text-align: center;
            padding: 14px 40px;
            text-decoration: none;
        }

        li a:hover:not(.active) {
            background-color: #ddd;
        }

        li a.active {
            color: white;
            background-color: #000000;
        }
    </style>

</head>

<body>
    <h1 align="center"> ATN TOY </h1>
    <ul>
        <li><a class="active" href="/">Home</a></li>
        <li><a href="/">All Products</a></li>
        <li><a href="#contact">Contact</a></li>
        <li style="float:right"><a class="active" href="login">Login</a></li>
    </ul>

    <div class="container" style="margin-left: 300px; margin-right: 300px; margin-top: 70px;">

        <div class="main">
            {{#each product}}
            <a href="#">
                <div class="box">

                    <div class="center">
                        <img class="boximg" width="150" height="150" src="{{Image}}" alt="">
                    </div>
                    <div>
                        <h3>{{ProductName}}</h3>
                    </div>
                    <div class="price">
                        <strong>{{Price}}VND</strong>
                    </div>

                    <figure class="bginfo">
                        {{Note}}
                    </figure>
                </div>
            </a>
            {{/each}}
        </div>
        <div class="right"></div>
    </div>
</body>

</html>