<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./css/mystyle.css" rel="stylesheet" />
    <title>Login</title>
    <style>
        * {
            padding: 0px;
            margin: 0px;
            font-family: sans-serif;
            box-sizing: border-box;
        }
        header {
            background-color: #cccccc;
            min-height: 70px;
            padding: 15px;
        }
        main {
            background-color: #dddddd;
            min-height: 550px;
            padding: 7.5px 15px;
        }
        footer {
            background-color: #cccccc;
            min-height: 70px;
            padding: 15px;
        }
        .container {
            width: 100%;
            max-width: 1200px;
            margin-left: auto;
            margin-right: auto;
        }
        .login-form {
            width: 100%;
            max-width: 400px;
            margin: 120px auto;
            background-color: #ffffff;
            padding: 15px;
            border: 2px dotted #cccccc;
            border-radius: 10px;
        }
        h1 {
            color: #009999;
            font-size: 50px;
            margin-bottom: 30px;
        }
        h2 {
            color: #009999;
            font-size: 20px;
            margin-bottom: 30px;
        }
        .input-box {
            margin-bottom: 10px;
        }
        .input-box input {
            padding: 7.5px 15px;
            width: 100%;
            border: 1px solid #cccccc;
            outline: none;
        }
        .btn-box {
            text-align: right;
            margin-top: 30px;
        }
        .btn-box button {
            padding: 7.5px 15px;
            border-radius: 2px;
            background-color: #009999;
            color: #ffffff;
            border: none;
            outline: none;
        }
    </style>

</head>
<header>
    <div class="container">
        <h1>Login</h1>
    </div>
</header>
<main>
    <div class="container">
        <div class="login-form">
            <form action="" method="post">
                <h2>Login Admin Account</h2>
                <div class="input-box">
                    <i></i>
                    <input type="text" name="un" placeholder="Username">
                </div>
                <div class="input-box">
                    <i></i>
                    <input type="password" name="pass" placeholder="Password">
                </div>
                <div class="btn-box">
                    <button type="submit">
                        Login
                    </button>
                </div>
            </form>
        </div>
    </div>
</main>
<footer>
    <div class="container">
        <Button><a href="/"> Home Page</a></Button>
    </div>
</footer>
</body>
</div>
</body>
</html>